.happynewyear{
    background-image: url('src/assets/start/image 4.png');
    width: 354px;
    height: 327px;
    margin-top: 150px;
}

.goToLogin{
    background-image: url('src/assets/start/Group 1.png');
    width: 244px;
    height: 69px;
    margin-top: 100px;
}
.goToRegister {
    background-image: url('src/assets/start/Group 2.png');
    width: 244px;
    height: 69px;
    margin-top: 20px;
}

