.goToLogin,
.goToRegister {
    font-family: shuhei;
    width: 70%;
    height: 3rem;
    align-self: center;
    margin-top: 10%;
    border-radius: 20px;
    background-color: #f4c884;
    color: #a27823;
    font-size: 30px;
    text-align: center;
}

