.login-background {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 160, 160);
    height: 100%;
    width: 100%;
}

.login-top {

    display: flex;
    margin: 2% 0 10% 0;
    font-size: 20px;
}

.login-goback {
    color: #f4c884;
    width: 40px;
    margin: 2% 70% 0 5%;
}


.login-welcome {
    color: #f4c884;
    font-size: 30px;
    margin: 10% 25%;
}

.forget{
    font-size: 0.75rem;
    width: 40%;
    color: #f4c884;
}

.login {
    width: 70%;
    height: 3.5rem;
    margin-top: 10%;
    border-radius: 20px;
    background-color: #f4c884;
    color: #a27823;
    font-size: 30px;
    line-height: 0px;
    margin-bottom: 3%;
}

.text{
    width: 10rem;
    display: inline;
}

.login-register{
    width: 2rem;
    display: inline;
    color: #f4c884;
}