.login-background {
    background-image: url('src/assets/login/background.png');
    margin: auto;
    display: flex;
    background-position: bottom;
    flex-direction: column;
    height:969px;
    width: 440px;
}

.login-top {
    z-index: 2;
    display: flex;
    background-image: url('src/assets/login/top.png');
    height: 108px;
}

.login-goback {
    background-image: url('src/assets/login/arrow-back.png');
    z-index: 3;
    height: 41px;
    width: 42px;
    margin-top: 54px;
    margin-left: 25px;
    cursor: pointer;
}

.login-goback:hover {
    transform: scale(1.1);
}
.Rform {
    margin-top: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 444px;
    width: 370px;
    background-color: #fbf7f1;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.input0,.input1 {
    font-size: 1rem;
    outline: none;
    padding: 0 2%;
    margin-top: 40px;
    margin-left: 0px;
    line-height: 2.5rem;
    width: 300px;
    height: 53px;
    border-radius: 16px;
    border: solid 2.5px #cab8a5;
    background-color: #fbf7f1;
}
.input0{
    margin-top: 52px;
}

.forget{
    cursor:default;
    background-color: #fbf7f1;
    font-size: 18px;
    width: 286.9px;
    margin-left: 44px;
    margin-top: 23.5px;
    text-align: end;
    color: black;
}

.login {
    cursor: pointer;
    width: 310px;
    height: 70px;
    border-radius: 60px;
    margin-top: 23px;
    background-image: url("src/assets/login/Group 1.png");
    background-size: cover;
    background-position: center; 
    border: none;
  }

.loginTurn{
    width: 300px;
    margin-top:9px;
    background-color: #fbf7f1;
    margin-left: 48px;
    font-size: 18px;
}

.text{
    cursor: default;
    display: inline;
}

.login-register{
    cursor: pointer;
    display: inline;
    color: #981f1f;
}