
.input {
    font-size: 1rem;
    outline: none;
    padding: 0 2%;
    margin-top: 36px;
    margin-left: 14px;
    line-height: 2.5rem;
    width: 279px;
    height: 53px;
    border-radius: 16px;
    border:solid 2.5px #cab8a5;
    background-color:#fbf7f1;
}