.warn {
    margin: 2%;
    line-height: 2.5rem;
    width: 70%;
    border-radius: 10px;
    background-color: #cccaca;
    border: solid 2px red;
}

.warn::placeholder {
    color: red;
}

.input {
    font-size: 1rem;
    outline: none;
    padding: 0 2%;
    margin: 2%;
    line-height: 2.5rem;
    width: 70%;
    border-radius: 10px;
    border: none;
    background-color: #cccaca;
}