.set-background {
    background-image: url('src/assets/set/bg.png');
    display: flex;
    background-position: bottom;
    flex-direction: column;
    height: 957px;
    width: 440px;
}

.set-top{
    background-image: url('src/assets/set/Group 6.png');
    height: 108px;
    width: 440px;
    color: #ffe6be;
    display: flex;
    font-size: 28px;
}

.set-top1 ,.set-top2 {
    margin-top: 52px;
}
.set-top1{
    margin-left: 50%;
    transform: translateX(-50%);
}
.set-top2{
    margin-left: 72px;
}
.setForm{
    background-color: #fbf7f1;
    width: 342px;
    border-radius: 20px;
    height: 630px;
    margin-top: 60px;
    margin-left: 50px;
    font-size: 20px;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);
}

.set-btn{
    background-image: url('src/assets/set/Group 1.png');
    height: 80px;
    width: 313px;
    margin: 23px auto;
}

.set-title{
    text-align: start;
    margin-left: 25px;
    margin-bottom: 4px;
    margin-top: 20.2px;
}

.set-input {
    font-size: 20px;
    outline: none;
    padding: 0 2%;
    width: 276px;
    height: 45px;
    border-radius: 10px;
    border: solid 2.5px #cab8a5;
    background-color: #fbf7f1;
}
.set-goback{
    color: #f4c884;
    width: 40px;
    height: 40px;
    margin: 2% 70% 0 2%;
}

.myTextarea {
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1% 5%;
    border: solid 2.5px #cab8a5;
    background-color: #fbf7f1;
    outline: none;
}
.error-message {
    color: rgba(188, 2, 2, 0.75);
}