.bg {
    z-index: 1;
    top: 0;
    position: absolute;
    transition: all 1s ease-in;
    display: flex;
    flex-direction: column;
    height: 956px;
    background-image:url('src/assets/start/背景1.png') ;
    width: 440px;
    align-items: center;
}

#loading {
    z-index: 2;
    background-image: url('src/assets/loading/加载.png');
    width: 440px;
    position: relative;
    height: 956px;
    transition: all .3s ease-out;
}

.Ovo {
    height: 956px;
    width: 440px;
}