* {
    box-sizing: border-box;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 969px;
    width: 440px;
    background-position:bottom ;
    position: relative;
    background-image: url("/src/assets/showCase/Receive/Background.png");
    background-size: 100% 90%;
  }
  
  .back-button {
    background-image: url("/src/assets/showCase/Receive/arrow_back.png");
    position: absolute;
    top: 54px;
    left: 23px;
    font-size: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .create-button {
    color: rgba(255, 235, 169, 0.716);
    position: absolute;
    top: 34px;
    right: 23px;
    font-size: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .createBless {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
  }
  
  .middle-box {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .top-section {
    height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  
  .middle-section {
    height: 59px;
    display: flex;
    margin-top: -1px;
    flex-direction: row;
    /* background-image: url("src/assets/showCase/MyShowcase/Group\ 5.png"); */
  }
  .section1 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition: all .5s;
  }
  .section2 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition: all .5s;
  }
  
  .bottom-section {
    height: 650px;
    display: flex;
    flex-direction: column;
  }
  
  .scrollable-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .scroll-button {
    position: absolute;
    top: 50%;
    width: 38px;
    height: 48px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-image: url("/src/assets/showCase/MyShowcase/Group\ 25.png");
  }
  .scroll-button.left {
    left: 30px;
  }
  .scroll-button.left:active {
    background-image: url("/src/assets/showCase/MyShowcase/Group\ 23.png");
    transform: scaleX(-1);
  }
  
  .scroll-button.right {
    right: 30px;
    transform: scaleX(-1);
  }
  .scroll-button.right:active {
    background-image: url("/src/assets/showCase/MyShowcase/Group\ 23.png");
    transform: scaleX(1);
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .share {
    margin-bottom: 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }
  
  .pop-up {
    margin: 0;
    top: 340px;
    left: 27px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    pointer-events: auto;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明遮罩 */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

  }

  .jump {
    pointer-events: auto;
  }

  .clear{
    position: relative;
    bottom: 343px;
    left: 323px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: none;
  }

  .chart {
    position: relative;
    left: 49px;
    bottom: 301px;
    width: 290px;
    height: 90px;
  }

  .link {
    position: relative;
    bottom: 275px;
    width: 290px;
    height: 90px;
    left: 49px;
  }

  .blessUrl {
    position: absolute;
    top: 430px;
    width: 380px;
    height: 140px;
    left: 30px;
    background-color:aliceblue;
    border-radius: 30px;
  }

  .cleared {
    position: relative;
    left: 175px;
    width: 30px;
    height: 30px;
    border: none;
    background-color:aliceblue;
    overflow: hidden;
    pointer-events: auto;
  }

  .success {
    flex: 1;
    margin: auto;
    bottom: 0;
  }
  
  .Myurl {
    position: relative;
    width: 270px;
    top: 20px;
    border: 1px solid black;
    pointer-events: auto;
  }

  /* Inner */
.scrollable-content {
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    touch-action: none;
    width: 100%;
    height: 100%;
}
  
.scrollable-item {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;
}